@font-face {
    font-family: PoppinsBold;
    src: url("../assets/fonts/Poppins_Bold.ttf");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("../assets/fonts/Poppins_Medium.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("../assets/fonts/Poppins_Regular.ttf");
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url("../assets/fonts/Poppins_ExtraBold.ttf");
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("../assets/fonts/Poppins_SemiBold.ttf");
}