@import "Fonts.css";

.img {
    width: 70%;
    height: 70%;
    align-self: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-body {
    font-family: PoppinsRegular;
    font-size: 15px;
}

.btn-filter {
    background-color: #32e0c4 !important;
    color: white !important;
    margin-right: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-body {
    margin-left: 20px;
    font-size: 15px;
    font-family: PoppinsMedium;
}
 
.dashboard-title {
    font-size: 25px;
    font-family: PoppinsSemiBold;
    margin-top: 20px;
}