@import "Fonts.css";

.nav {
    color: red !important;
    font-size: 20px !important;
    font-family: PoppinsSemiBold;
}

.navItem {
    font-size: 15px !important;
    margin-left: 10px;
    font-family: PoppinsMedium;
}

.navItem:hover,
.navItem:active {
    font-family: PoppinsSemiBold;
}